<%= render 'navn' %>

<style>
  body {
    background-image:url(http://media.giphy.com/media/13bGgH9VnEDsuA/giphy.gif);
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
  }
  
  #cloud {color:#3693ea;}

  .jumbotron {background-color: rgba(255, 255, 255, 0.3)}

</style>
<br><br><br><br>
<div class="jumbotron">
<div class="text-center">

<h3 class="visible-xs-block">Ajoutez un nouveau spot</h3>
<br class="visible-xs-block">
<br>
<%= render 'form' %>

</div>
</div>
